@import "tailwindcss";

@theme {
  --animate-typewriter: typewriter 3s steps(30) 1s 1 normal both;
  --animate-blink: blink 0.7s step-end infinite;

  @keyframes typewriter {
    0% {
      width: 0ch;
    }
    100% {
      width: 24ch;
    }
  }

  @keyframes blink {
    0%, 100% {
      border-color: black;
    }
    50% {
      border-color: white;
    }
  }
}